configuration {
    font: "JetBrainsMono NF 10";

    modi: "";
    display-drun:   ":";
    display-ssh:    "ssh:";
    display-window: ":";

    show-icons: true;
    drun-display-format: "{name}";
}

@theme "~/.config/rofi/gruvbox-dark.rasi"

listview {
	lines: 1;
	columns: 5;
}

