configuration {
    font: "JetBrainsMono NF 10";
    line-margin: 10;

    display-ssh:    "ssh";
    display-run:    "run";
    display-drun:   ">>";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

@theme "~/.config/rofi/gruvbox-dark.rasi"

listview {
	lines: 5;
	columns: 1;
}

window {
	width: 30%;
}
